<!DOCKTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>MY FLASK APP</title>
</head>
<body>

<p1> flask app</p1>
<p2>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales. Wikipedia</p1></P2>

<ul>
<li>https://www.udemy.com/topic/python</li>
<li>https://pythonhow.com/the-python-mega-course</li>
</ul>

{%block body%}{% endblock %}

</body>

</html>
